html, body {
  margin: 0%;
}

.chatPage {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.chatPage-header {
  text-align: center;
  background-color: green;
}

.chatPage-main {
  display: flex;
  overflow: auto;
  height: 1;
  flex-grow: 1;
  background-color: grey;
  flex-direction: column;
}

.left-msg {
  display: flex;
  margin-left: 2%;
  margin-right: 51%;
  flex-direction: row;
}

.right-msg {
  display: flex;
  margin-left: 51%;
  margin-right: 2%;
  flex-direction: row-reverse;
}

.msg {
  width: fit-content;
  word-break: break-all;

  background: deepskyblue;
	border-radius: .4em;
}

.chatPage-footer {
  display: flex;
}

.editor {
  flex-grow: 10;
}

.sendButton {
  flex-grow: 1;
}